# Lab 5: More about EDA & Tidy Data

Brian Manzo 

Wednesday 8:30-9:50am, 2260 USB

## Reminders
1. Midterm starts tomorrow
2. Homework due tomorrow

In [2]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1     ✔ purrr   0.3.2
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## `gather` and `spread`

Remember that `gather` transforms datasets from "wide" to "long," collecting different column names into a variable. `spread` does the opposite, turning "long" datasets into "wide" ones by spreading out a variable's values into the column names.

In [3]:
grades_wide = tribble(
  ~name,  ~`2015`, ~`2016`, ~`2017`,
'Roger',       83,      89,      93,
  'Jon',       92,      90,      93)
grades_wide

  name  2015 2016 2017
1 Roger 83   89   93
2 Jon   92   90   93

In [12]:
grades_wide %>% select(-name) %>% summarise_all(mean)

  2015 2016 2017
1 87.5 89.5 93

In [4]:
grades_long = grades_wide %>% gather(key=year, value=grade, `2015`:`2017`)
grades_long

  name  year grade
1 Roger 2015 83
2 Jon   2015 92
3 Roger 2016 89
4 Jon   2016 90
5 Roger 2017 93
6 Jon   2017 93

In [5]:
grades_long %>% spread(key=year, value=grade)

  name  2015 2016 2017
1 Jon   92   90   93
2 Roger 83   89   93

## Midterm Review

### Topics we've covered so far:
- Basics of R programming
- `ggplot`
- `dplyr` (data manipulation)
- visualizing distributions
- tidy data (`gather` and `spread`)

### Tips: 
- Start early 
- Make sure you have any R/Jupyter/Colab issues straightened out ahead of time
- If you are stuck, break down the problem into smaller pieces
- If your code isn't working, check the output at intermediate steps to see where things may be going wrong
- Review your old homeworks and have the solutions handy

## MLB Data

This dataset contains information for player-seasons in the American League from 2015 to 2018. For those unfamiliar with baseball:
* `PA`: Plate Appearances, the number of times a player came up to bat.
* `HR`: number of home runs.
* `BBrate`: The number of walks (BBs) as a percentage of plate appearances.
* `BB`: The number of walks.
* `K`: The number of strikeouts.
* `AVG`: A batters batting average.
* `FB`: The number of fly balls a batter hit.

Note: Also recall the functions `unite`, `separate`, and `complete`.

In [13]:
mlb = read_csv('https://raw.githubusercontent.com/bmanzo/stats306_labs/master/lab05/mlb.csv')
head(mlb)

Parsed with column specification:
cols(
  year = col_double(),
  name = col_character(),
  team = col_character(),
  division = col_character(),
  PA = col_double(),
  HR = col_double(),
  BBrate = col_character(),
  BB_K = col_character(),
  AVG = col_double(),
  FB = col_double(),
  playerid = col_double()
)

  year name            team    division PA  HR BBrate BB_K  AVG   FB playerid
1 2016 Abraham Almonte Indians Central  194 1  4.1 %  8/42  0.264 43  5486
2 2017 Abraham Almonte Indians Central  195 3  10.3 % 20/46 0.233 34  5486
3 2015 Adam Moore      Indians Central    4 0  0.0 %  0/2   0.250  1  9362
4 2016 Adam Moore      Indians Central    5 0  0.0 %  0/4   0.000  1  9362
5 2018 Adam Plutko     Indians Central    2 0  0.0 %  0/0   0.000  0 15846
6 2018 Adam Rosales    Indians Central   21 1  4.8 %  1/5   0.211  7  9682

### Problem 1

Calculate the HR per FB rate for each team and year. Convert this to a long dataset, so your variables should be `division`, `team`, and `2015`-`2018`, where values are the HR/FB rate. Note that you should ensure that `division` is still in the dataset.

Create a variable called `increased`, which checks if the HR/FB rate was higher in 2018 than it was in 2015 for that team.

Turn this back into a "long" dataset and create a plot of HR/FB rate on year. Color it by `team`, facet it by `division`, and choose the linetype according to the `increased` variable.

### Problem 2

Go back to `mlb` and calculate total HRs and PAs per year per team. Create a wide version of this dataset. So there should be a `team` variable, then eight variables tracking values: `HR_2015`, `HR_2016`, `HR_2017`, `HR_2018`, `PA_2015`, `PA_2016`, `PA_2017`, and `PA_2018`.

Hint: Once you calculate the values you can use a `gather`, `unite`, and `spread` in that order to create the wide version.

### Problem 3

Remove player-seasons with less than 200 `PA`. Then, for each player, calculate the change in `AVG` from the previous year to the current year and the change from the current year to the next year. Store these as two variables. If data on the previous or next year is not present, then the corresponding variable should be `NA`.

Once you have these two variables, make two plots where the `x`-axis is current year `AVG` and the `y`-axis is each of these difference variables. Can you make both plots with a single command using faceting? (Hint: you may need to do some additional data transformations to accomplish this.) What conclusions can you draw from these plots?